<body>



    <div class="container">

        <div class="row">

            <div class="col col-sm-3">

            </div>

            <div class="col col-sm-6">

                <form method="POST" action="/getdata">
                    <table class="table table-stripped">
                        <tr>
                            <td>
                                NAME
                            </td>
                            <td>
                                <input type="text" name="name" "required">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ADDRESS
                            </td>
                            <td>
                                <input type="text" name="address">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                MOBILE
                            </td>
                            <td>
                                <input type="number" name="mobile" "required">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                E-MAIL
                            </td>
                            <td>
                                <input type="text" name="email" "required">
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>
                                <button type="submit" class="btn btn-danger"> SUBMIT</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>

            <div class="col col-sm-3">

            </div>
        </div>

    </div>

</body>