<body>
    

    <div class="container-fluid">

        <br>
        <div class="card bg-danger" id="card1">
            <br>
            DQ Gallery
            <br>
            <br>

        </div>
        <br>

        <div id="demo" class="carousel slide" data-ride="carousel">


            <ul class="carousel-indicators">
                <li data-slide-to="0" class="active"></li>
                <li data-slide-to="1"></li>
                <li data-slide-to="2"></li>
            </ul>


            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="30k.jpg" alt="" class="img-fluid">
                </div>
                <div class="carousel-item">
                    <img src="poster.jpg" alt="" class="img-fluid">
                </div>
                <div class="carousel-item">
                    <img src="release.jpg" alt="" class="img-fluid">
                </div>
            </div>


            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
        <br>

        <div class="card bg-danger" id="card1">
            <br>
            Dulquer Salmaan's Photo Collection
            <br>
            <br>

        </div>
        <br>

        <div class="row">

            <div class="col-lg-3 col-md-4 col-6">
                <img class="img-fluid img-thumbnail" src="dq1.jpeg" alt="">
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <img class="img-fluid img-thumbnail" src="dq2.jpeg" alt="">
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <img class="img-fluid img-thumbnail" src="dq3.jpeg" alt="">
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <img class="img-fluid img-thumbnail" src="dq4.jpeg" alt="">
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <img class="img-fluid img-thumbnail" src="dq6.jpeg" alt="">
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <img class="img-fluid img-thumbnail" src="dq7.jpeg" alt="">
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <img class="img-fluid img-thumbnail" src="dq8.jpeg" alt="">
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <img class="img-fluid img-thumbnail" src="dq9.jpeg" alt="">
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <img class="img-fluid img-thumbnail" src="dq10.jpeg" alt="">
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <img class="img-fluid img-thumbnail" src="dq11.jpeg" alt="">
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <img class="img-fluid img-thumbnail" src="dq12.jpeg" alt="">
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <img class="img-fluid img-thumbnail" src="dq20.jpeg" alt="">
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <img class="img-fluid img-thumbnail" src="dq14.jpeg" alt="">
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <img class="img-fluid img-thumbnail" src="dq15.jpeg" alt="">
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <img class="img-fluid img-thumbnail" src="dq21.jpeg" alt="">
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <img class="img-fluid img-thumbnail" src="dq22.jpeg" alt="">
            </div>
        </div>
        <br>



        <div class="row" id="lar">


            <div class="col col-sm|md|lg|xl-3">
                <br>
                Follow Us on

                <img src="insta.png" alt="" class="img-fluid">

            </div>

            <div class="col col-sm|md|lg|xl-3">
                <br>
                <p id="lef">Contact</p>
                <br>

                <br>
                <br>

                mail:dqntemalappuram@gmail.com

            </div>


            <div class="col col-sm|md|lg|xl-3">
                <br>
                <p id="rig">Us</p>

                <br>
                <br>
                <br>
                whatsapp:9567399012

            </div>

            <div class="col col-sm|md|lg|xl-3">
                <br>
                Subscribe Us on

                <img src="you1.png" alt="" class="img-fluid">

            </div>
        </div>
    </div>
</body>