

<body id="mo">
    


<div class="container-fluid">
    
<br>    
        <div class="card bg-danger" id="card1">
                <br>
                DQ Movies
                <br>
                <br>
        
            </div>
        <br>



<div id="demo" class="carousel slide" data-ride="carousel">

           
        <ul class="carousel-indicators">
            <li data-slide-to="0" class="active"></li>
            <li data-slide-to="1"></li>
            <li data-slide-to="2"></li>
        </ul>

        
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="30k.jpg" alt="" class="img-fluid">
            </div>
            <div class="carousel-item">
                <img src="poster.jpg" alt="" class="img-fluid">
            </div>
            <div class="carousel-item">
                <img src="release.jpg" alt="" class="img-fluid">
            </div>
        </div>

        
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <br>

    <div class="card bg-danger" id="card1">
            <br>
            Complete Collection Of  Dulquer Salmaan's Movies
            <br>
            <br>
    
        </div>
    <br>
    <div class="row">

    
        <div class="col col-lg|xl-6 col-sm|md-10" id="mov1">

           <ul>
               <li>  Second Show</a> </li>
               <li>  Ustad Hotel</a> </li>
               <li>  Theevram</a> </li>
               <li>  ABCD</a> </li>
               <li>  5 Sundarikal</a> </li>
               <li>  Pattam Pole</a> </li>
               <li>  NPCB</a> </li>
               <li>  Salala Mobiles</a> </li>
               <li>  Samsaram Aarogyathin Hanikaram</a> </li>
               <li>  Banglore Days</a> </li>
               <li>  Vikramadithyan</a> </li>
               <li>  Njan</a> </li>
               <li>  100 Days of Love</a> </li>
               <li>  Ok Kanmani</a> </li>
               <li>  Charlie</a> </li>
               <li>  Kali</a> </li>
               <li>  Jomonte Suvisheshangal</a> </li>
               <li>  CIA</a> </li>
               <li>  SOLO</a> </li>
               <li>  Kammattipaadam</a> </li>
               <li>  Parava</a> </li>
               <li>  Mahanati</a> </li>
               <li>  KARWAAN</a> </li>
               
              
           </ul>



        </div>

        <div class="col col-lg|xl-3 col-sm|md-1" id="t">

                <ul>
                         
                         <a href=""> Watch Trailer</a> <br>
                         <a href=""> Watch Trailer</a> <br>
                         <a href=""> Watch Trailer</a> <br>
                         <a href=""> Watch Trailer</a> <br>
                         <a href=""> Watch Trailer</a> <br>
                         <a href=""> Watch Trailer</a> <br>
                         <a href=""> Watch Trailer</a> <br>
                         <a href=""> Watch Trailer</a> <br>
                         <a href=""> Watch Trailer</a> <br>
                         <a href=""> Watch Trailer</a> <br>
                         <a href=""> Watch Trailer</a> <br>
                         <a href=""> Watch Trailer</a> <br>
                         <a href=""> Watch Trailer</a> <br>
                         <a href=""> Watch Trailer</a> <br>
                         <a href=""> Watch Trailer</a> <br>
                         <a href=""> Watch Trailer</a> <br>
                         <a href=""> Watch Trailer</a> <br>
                         <a href=""> Watch Trailer</a> <br>
                         <a href=""> Watch Trailer</a> <br>
                         <a href=""> Watch Trailer</a> <br>
                         <a href=""> Watch Trailer</a> <br>
                         <a href=""> Watch Trailer</a> <br>
                         <a href=""> Watch Trailer</a> <br>
                           
                    </ul>
        </div>

        <div class="col col-lg|xl-3 col-sm|md-1" id="d">

                
                         <a href=""> Download</a> <br>
                         <a href=""> Download</a> <br>
                         <a href=""> Download</a> <br>
                         <a href=""> Download</a> <br>
                         <a href=""> Download</a> <br>
                         <a href=""> Download</a> <br>
                         <a href=""> Download</a> <br>
                         <a href=""> Download</a> <br>
                         <a href=""> Download</a> <br>
                         <a href=""> Download</a> <br>
                         <a href=""> Download</a> <br>
                         <a href=""> Download</a> <br>
                         <a href=""> Download</a> <br>
                         <a href=""> Download</a> <br>
                         <a href=""> Download</a> <br>
                         <a href=""> Download</a> <br>
                         <a href=""> Download</a> <br>
                         <a href=""> Download</a> <br>
                         <a href=""> Download</a> <br>
                         <a href=""> Download</a> <br>
                         <a href=""> Download</a> <br>
                         <a href=""> Download</a> <br>
                         <a href=""> Download</a> <br>
                         
                           
                    

        </div>
    </div>



    <div class="row" id="lar">


        <div class="col col-sm|md|lg|xl-3">
            <br>
            Follow Us on

            <img src="insta.png" alt="" class="img-fluid">

        </div>

        <div class="col col-sm|md|lg|xl-3">
            <br>
            <p id="lef">Contact</p>
            <br>

            <br>
            <br>

            mail:dqntemalappuram@gmail.com

        </div>


        <div class="col col-sm|md|lg|xl-3">
            <br>
            <p id="rig">Us</p>

            <br>
            <br>
            <br>
            whatsapp:9567399012

        </div>

        <div class="col col-sm|md|lg|xl-3">
            <br>
            Subscribe Us on

            <img src="you1.png" alt="" class="img-fluid">

        </div>
    </div>
</div>
</body>
